<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/extern/master.css">
    <title>S4A - Lab</title>
    <style>
        * {
            font-family: sans-serif;
        }
        div.dir {
            background-color: beige;
            width: 100%;
            height: 2em;
            text-align: center;
        }
        div.dir > div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        a {
            text-decoration: none;
            color: #212121;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>